{% extends 'admin/base.html.twig' %}

{% block title %}Nouvel artiste - Admin{% endblock %}
{% block page_title %}Nouvel artiste{% endblock %}

{% block body %}
<div class="card">
    <div class="card-header"><h5 class="mb-0">Ajouter un artiste</h5></div>
    <div class="card-body">
        {{ form_start(form) }}
            {{ form_row(form.name) }}
            {{ form_row(form.biography) }}
            {{ form_row(form.email) }}
            {{ form_row(form.website) }}
            {{ form_row(form.profileImageFile) }}
            <div class="d-flex justify-content-between mt-3">
                <a href="{{ path('admin_artist_index') }}" class="btn btn-secondary"><i class="fas fa-arrow-left"></i> Retour</a>
                <button type="submit" class="btn btn-primary"><i class="fas fa-save"></i> Enregistrer</button>
            </div>
        {{ form_end(form) }}
    </div>
</div>
{% endblock %}
